*{  
    box-sizing: border-box;
}

body{    
    margin: 0;
    padding: 0;
    background-color: bisque;    
}

.container{
    /* max-width: 1440px; */
    max-width: 90vw;
    margin: 5vh auto;
    /* padding: 0; */
    background-color: rgb(247,247,247);
    overflow: hidden;
}

.images-and-pagination{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: auto;
    margin-right: auto;
    height: 601px;
    max-width: 1400px;

    background-color: rgb(221, 226, 218);
}

.viewport {
    width: 1414px;
    /* height: 560px; */
    min-height: 1414px;
    overflow: hidden;
}

.images{
    position: relative;
    left: 0;
    transition: .5s;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* padding-right: 20px;
    padding-left: 20px;   */
    margin: 0 auto;

    max-width: 1414px;
    height: 1414px;
    gap: 25px;
}

.images > img{
    margin: 0;
    padding: 0;
    width: 1414px;
    height: 1414px;
    transition-property: all;
    transition-duration: 1s;
}


.description-and-pagination{
    display: flex;
}

/* -------------------------------------- */

/* инпуты делаем невидимыми */
.images-and-pagination > input {
	display: none;
}

/* блок с шариками */
.pagination .controls {
    width: 120px;
    height: 26px;
    margin: 35px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

/* label, привязанный к input */
.button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;      
    
    width:26px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;       

    /* background-color: aqua; */
}

/* сами шарики внутри label */
.button-wrapper > div{
    width: 16px;
    height: 16px;    
    border-radius: 50%;
    background-color: #0C0C0E;
}

/* переключение шариков */
#slide1:checked ~ .controls .button-wrapper .button1,
#slide2:checked ~ .controls .button-wrapper .button2,
#slide3:checked ~ .controls .button-wrapper .button3,
#slide4:checked ~ .controls .button-wrapper .button4,
#slide5:checked ~ .controls .button-wrapper .button5
 {
    cursor: auto;
    background-color: #BB945F;
    transition: background ease-in-out .2s;
}

/* переключение шариков */
#slide1:checked ~ .viewport .images .image-1,
#slide2:checked ~ .viewport .images .image-2,
#slide3:checked ~ .viewport .images .image-3,
#slide4:checked ~ .viewport .images .image-4,
#slide5:checked ~ .viewport .images .image-5
 {
    cursor: auto;
    background-color: #BB945F;
    transition: background ease-in-out .2s;
}