* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;    
}

.container {
    height: 80vh;
    /* width: 80vw; */
    width: 707px;   /* !!!!!!!!! */
    /* height: 1414px; */
    margin: 10vh auto;
    background-color: gray;
    /* overflow: hidden; */
    position: relative;
    border-radius: 1em;

}

.slider {
	background-color: #929292;
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
    border-radius: 1em;
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	transform: scale(1.5);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.container .controls {
	left: 50%;
	margin-left: -98px;
	position: absolute;
}

.slides > img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    transition-property: all;
    transition-duration: 1s;
    border-radius: 1em;

}

.description-and-controls{
    display: flex;
    justify-content: space-between;
}

.slogans{
    display: none;
    /* opacity: 0; */
    /* visibility: hidden; */
    font-size: 2.5em;
    color: brown;
    font-family: Forum;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.5px;  
}

/* -------------------------------------- */

/* инпуты делаем невидимыми */
.container > input {
	display: none;
}

/* блок с шариками */
.controls{
    width: 650px;
    /* width: 120px; */
    height: 26px;
    margin: 35px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

/* label, привязанный к input */
.button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;      
    
    width: 26px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;       

    /* background-color: aqua; */
}

/* сами шарики внутри label */
.button-wrapper > div{
    width: 16px;
    height: 16px;    
    border-radius: 50%;
    background-color: #0C0C0E;
}

.button-wrapper > div:hover{
    background-color:gray;
}

/* переключение шариков */
#slide1:checked ~ .description-and-controls  .controls .button-wrapper .button1,
#slide2:checked ~ .description-and-controls  .controls .button-wrapper .button2,
#slide3:checked ~ .description-and-controls  .controls .button-wrapper .button3,
#slide4:checked ~ .description-and-controls  .controls .button-wrapper .button4,
#slide5:checked ~ .description-and-controls  .controls .button-wrapper .button5
 {
    cursor: default;
    background-color: #BB945F;
    transition: background ease-in-out .2s;
}

/* переключение слайдов */
#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5
 {
    opacity: 1;
	z-index: 1;
	transform: scale(1);
}

/* переключение подписей к слайдам */
#slide1:checked ~ .description-and-controls .description  .slogan-1,
#slide2:checked ~ .description-and-controls .description  .slogan-2,
#slide3:checked ~ .description-and-controls .description  .slogan-3,
#slide4:checked ~ .description-and-controls .description  .slogan-4,
#slide5:checked ~ .description-and-controls .description  .slogan-5
 {
    display: initial;
    /* opacity: 1; */
    /* visibility: visible; */
}