* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: bisque;    
}

.container {
    height: 80vh;
    width: 707px;
    margin: 10vh auto;
    background-color: gray;
    position: relative;
    border-radius: 1em;

}

.slider {
	background-color: #929292;
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
    border-radius: 1em;
}

.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	transform: scale(1.5);
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.slides > img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    transition-property: all;
    transition-duration: 1s;
    border-radius: 1em;

}

.description-and-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.description{
    width: 62%;
}

.slogans{
    display: none;
    font-size: 2.5em;
    color: brown;
    font-family: Forum;
    font-style: normal;
    font-weight: 700;
    letter-spacing: calc(1em / 30);
}

/* -------------------------------------- */

/* инпуты делаем невидимыми */
.container > input {
	display: none;
}

/* блок с шариками */
.controls{
    width: calc(1.4em * 5);
    height: 1.4em;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* label, привязанный к input */
.button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;      
    width: 1.4em;
    height: 1.4em;
    border-radius: 50%;
    cursor: pointer;     
}

/* сами шарики внутри label */
.button-wrapper > div{
    width: .8em;
    height: .8em;
    border-radius: 50%;
    background-color: #0C0C0E;
}

.button-wrapper > div:hover{
    background-color:gray;
}

/* -------------------------------------- */

/* переключение шариков */
#slide1:checked ~ .description-and-controls  .controls .button-wrapper .button1,
#slide2:checked ~ .description-and-controls  .controls .button-wrapper .button2,
#slide3:checked ~ .description-and-controls  .controls .button-wrapper .button3,
#slide4:checked ~ .description-and-controls  .controls .button-wrapper .button4,
#slide5:checked ~ .description-and-controls  .controls .button-wrapper .button5
 {
    cursor: default;
    background-color: #BB945F;
    transition: background ease-in-out .2s;
}

/* переключение слайдов */
#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5
 {
    opacity: 1;
	z-index: 1;
	transform: scale(1);
}

/* переключение подписей к слайдам */
#slide1:checked ~ .description-and-controls .description  .slogan-1,
#slide2:checked ~ .description-and-controls .description  .slogan-2,
#slide3:checked ~ .description-and-controls .description  .slogan-3,
#slide4:checked ~ .description-and-controls .description  .slogan-4,
#slide5:checked ~ .description-and-controls .description  .slogan-5
 {
    display: initial;
}